.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(4, 64, 64);
  cursor: pointer;
  font-family: fantasy;
}

.waitingScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(4, 64, 64);
  top: 0;
  z-index: 100;
  color: white;
  font-weight:500;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fb1, .fb4 {
  width: 100%;
}

.fb {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* gap: 5px; */
}

.b {
  overflow: hidden;
  padding: 3px;
}

.fb2, .fb5 {
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}